<!-- Begin page content -->

<div class="row h-100 overflow-auto">
    <div class="col-12 text-center mb-auto px-0">

    </div>
    <div *ngIf="controle_mensagem==0" class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center text-center py-4" style="margin-top: 20px;;">
        <div class="row h-100" style="display: none">
            <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto text-center align-self-center">
                <div class="loader-cube-wrap loader-cube-animate mx-auto">
                    <img src="assets/img/logo.png" alt="Logo">
                </div>

            </div>
        </div>
        <h1 class="mb-4 text-color-theme" style="margin-top: 24px;font-size: 105px;">Urna</h1>

        <p class="text-muted mb-4">SISTEMA DE CONSULTA

            <BR> DE RESULTADOS ELEITORAIS
        </p>
        <div class="col-12 text-center mt-auto">
            <button type="button " class="btn btn-small btn-default w-100 mb-4 shadow" style="background: #687a9b08; width: 50% !important;"> Entrar </button>

        </div>
    </div>



</div>