<!-- loader section 

<div class=" container-fluid loader-wrap ">
    <div class="row h-100 ">
        <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto text-center align-self-center ">
            <div class="loader-cube-wrap loader-cube-animate mx-auto ">

            </div>

        </div>
    </div>
</div>-->
<span class="progressstimer loadLogin" style="height: 20px;    margin-left: 44%;    z-index: 10;">
    <img src="assets/img/progress.png" alt="">
    <span class="timer" id="timer"> </span>
</span>
<!-- loader section ends -->


<!-- Sidebar main menu -->
<div class="sidebar-wrap  sidebar-pushcontent">
    <!-- Add overlay or fullmenu instead overlay -->
    <div class="closemenu text-muted">Close Menu</div>
    <div class="sidebar dark-bg">
        <!-- user information -->



        <div class="row my-3">
            <div class="col-12 ">
                <div class="card shadow-sm bg-opac text-white border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <!-- 
                                <figure class="avatar avatar-44 rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>  -->
                            </div>
                            <div class="col px-0 align-self-center">
                                <p class="mb-1">MENU</p>
                                <!--  
                                <p class="text-muted size-12">New York City, US</p> -->
                            </div>
                            <!--  
                            <div class="col-auto">
                                <button class="btn btn-44 btn-light">
                              <i class="bi bi-box-arrow-right"></i>
                          </button>
                            </div> -->
                        </div>
                    </div>
                    <!--  
                    <div class="card bg-opac text-white border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="display-4">100.00</h1>
                                </div>
                                <div class="col-auto">
                                    <p class="text-muted">Wallet Balance</p>
                                </div>
                                <div class="col text-end">
                                    <p class="text-muted"><a href="addmoney.html">+ Top up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
 -->

                </div>
            </div>
        </div>

        <!-- user emnu navigation -->
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills">


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-card-checklist"></i></div>
                            <div class="col">Início</div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>
                    <!---
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/chart-demandas">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-bar-chart"></i></div>
                            <div class="col">Gráficos</div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/login">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-lock"></i></div>
                            <div class="col">Login</div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>

                    <li>
                        <div class="row mb-4">
                            <div class="col-12">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="darkmodeswitch" onchange="$('.menu-btn').click()">
                                            <label class="form-check-label text-muted px-2 " for="darkmodeswitch">Tema Escuro
                   </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  
                    <li class="nav-item">
                        <a class="nav-link" href="chat.html" tabindex="-1">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-chat-text"></i></div>
                            <div class="col">Messages</div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="notifications.html" tabindex="-1">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-bell"></i></div>
                            <div class="col">Notification</div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="blog.html" tabindex="-1">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-newspaper"></i></div>
                            <div class="col">Blogs</div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="style.html" tabindex="-1">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-palette"></i></div>
                            <div class="col">Style <i class="bi bi-star-fill text-warning small"></i></div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pages.html" tabindex="-1">
                            <div class="avatar avatar-40 rounded icon"><i class="bi bi-file-earmark-text"></i></div>
                            <div class="col">Pages <span class="badge bg-info fw-light">new</span></div>
                            <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" abindex="-1 " routerLink="/login">
                            <div class="avatar avatar-40 rounded icon "><i class="bi bi-box-arrow-right "></i></div>
                            <div class="col ">Logout</div>
                            <div class="arrow "><i class="bi bi-chevron-right "></i></div>
                        </a>
                    </li>

 -->
                </ul>
                <!-- Dark mode switch -->

            </div>
        </div>
    </div>
</div>



<!-- Begin page -->
<main class="dark-bg" style="min-height: 650px;overflow-y: hidden;padding: 0px;">


    <!-- main page content -->
    <div class="main-container container">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <!-- main page content ends -->

</main>


<!-- </main>
Page ends-->

<!-- Footer -->




<style>
    .alert_acao,
    #div_loader {
        display: none;
    }
</style>


<div id="aviso_atencao" class="card shadow-sm mb-2  alert_acao" style="position: fixed;top: 87px;width: 90%;z-index: 10;height: 97px;left: 5%;background-color: rgb(0 0 0) !important;">
    <div class="card-body">
        <div class="row">
            <div class="col-auto px-0">

            </div>
            <div class="col">
                <h5 class="size-12 mb-0" style="font-size: 13px !important;margin: 9px;       color: #aeb5bb; text-align: left;  margin-top: 10px;">
                    <table>
                        <tr>
                            <td><i class="bi bi-shield-exclamation" style="font-size: 45px;margin: 9px;color:#e7e129"></i></td>
                            <td><span class="msg_alert">Erro ao Processar!</span></td>
                        </tr>
                    </table>


                </h5>

            </div>
        </div>
    </div>
</div>